
.w3-bar-block h5{
    text-align: center;
    color: rgb(187, 59, 0);
    display: block;
    background-color: white;
    padding: 3px;
}
.w3-bar-block {
    padding: 0%;
}
.w3-sidebar{
    position: -webkit-sticky;
    position: -moz-stickey;
    position: -ms-stickey;
    position: -o-atickey;
    position: sticky;
    padding-bottom: 50px;
    cursor: pointer;
}

.topicname{
    width: 100%;
    color: rgb(192, 188, 188);
    display: block;
    padding-top: 1px;
    padding-bottom: 2px;
    padding-left: 30px;
    font-family: ;
}
.topic{
    float: left;
    width: 100%;
    text-decoration: none;
    white-space: nowrap;
    list-style-type: none;
    padding-left: 0;
}
.topic :hover {
    background: none;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.hometopic :hover {
    background: none;
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.hometopic{
    float: left;
    width: 100%;
    text-decoration: none;
    white-space: nowrap;
    list-style-type: none;
    padding-left: 0;
}
    